/* Reset some default browser styles */
body, h1, h2, span {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Global styles */
body {
  background-color: #28074a;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #bd4de5;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.5em;
}

main {
  padding: 20px;
}

/* Section styles */
section {
  margin-bottom: 20px;
  border-radius: 8px;
  background: linear-gradient(145deg, #491088, #6c1dd0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Button and Toggle Switch styles */
button, .toggle-switch {
  margin: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff19db;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #ff7f1a;
}

button:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature #current-temp {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0 15px;
}

/* Toggle Switch styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ff19db;
  border-radius: 34px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-switch input:checked + label {
  background-color: #ff7f1a;
}

.toggle-switch label:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition: left 0.3s ease;
}

.toggle-switch input:checked + label:after {
  left: calc(100% - 30px);
}

/* Music Section styles */
.music-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.song-info {
  text-align: center;
}

#song-name {
  font-size: 1.2em;
  margin-top: 10px;
  color: #fff;
}

/* Media Queries */

/* Mobile styles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 1.2em;
  }

  main {
    padding: 10px;
  }

  section {
    padding: 10px;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .toggle-switch input[type="checkbox"] + label {
    width: 50px;
    height: 30px;
  }

  .toggle-switch input[type="checkbox"] + label:after {
    width: 24px;
    height: 24px;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 15px;
  }

  h1, h2, h3 {
    font-size: 1.3em;
  }

  main {
    padding: 20px;
  }

  section {
    padding: 15px;
  }

  button {
    padding: 10px 20px;
    font-size: 1em;
  }

  .toggle-switch input[type="checkbox"] + label {
    width: 60px;
    height: 35px;
  }

  .toggle-switch input[type="checkbox"] + label:after {
    width: 28px;
    height: 28px;
  }
}
